html{
	height:1000px;
}
body{
	height:1000px;
}
#akpsi{
	height:190px;
	margin-top:0px;
	margin-bottom:32px;
	padding-bottom:0;
	background-color:rgb(238,239,241);
}	
.titlediv{
		background-image:url('../images/background.jpg');

}
.title{	
	width:100%;
	margin-top:30px;
	margin-bottom:30px;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	text-align:center;
	font-size:25pt;
	}
.boardmembers{
	position:relative;
	margin-left:auto;
	margin-right:auto;
	border-spacing: 20px;
	margin-top:20px;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size:10pt;
	width: 80%;
	border-spacing: 20px;
	border-collapse:separate;


}
#eboard{
	padding-bottom:15px;
	background-color:rgb(238,239,241);}
#jboard{background-color:rgb(238,239,241);
}
.names{
	color:rgb(13,13,13);
	font-weight:bold;}
.positions{
	color:rgb(91,92,93);
}

img { max-width: 100%; }
