body{
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
	background-image: none;
	height:auto;
	min-width: 1270px;
	background-image:url(../images/background.jpg);

}
.triangle{
	top:2px;
}


#photointro{
	position:relative;
	top:45px;
	width:100%;
	height:620px;
	background: url("../images/photosbg_old.png") no-repeat 50% 0%;
 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#textcontainer{
	width:911px;
	height:376px;
	color:white;
	text-align: center;
	font-size:16pt;
	position:absolute;
	margin:auto;
	top:0;bottom:0;left:0;right:0;
	line-height: 45px;
}
#bigger{
	font-size: 43pt;
}
#photosnav{
	position:relative;
	top:45px;
	width:100%;
	height:210px;
	background-image:url(../images/background.jpg);
}
h1{text-transform: uppercase;
	font-size:30pt;
	font-weight: 100;
}

#photolinks{
	width:450px;
	height:140px;
	position:absolute;
	margin:auto;
	top:0;bottom:0;right:0;left:0;
	text-align: center;

}
.buttonlinks{
	margin-right:80px;
	font-size: 15pt;
	-webkit-transition: all 0.2s all ease-in-out;
  	-moz-transition: all 0.2s ease-in-out;
  	-o-transition: all 0.2s ease-in-out;
  	-ms-transition: all 0.2s ease-in-out;
  	transition: all 0.2s ease-in-out;
} 
.buttonlinks:hover {

	color:rgb(183,183,184);

}
.photosection{position:relative;
top:45px;
}
table{
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:auto;
	height:auto;
	padding:1px;
	min-width: 1270px;

}
td{
	margin:3px;
	overflow:hidden;
}
tr{
	vertical-align: top;
}
.active{
	font-weight:300;
}
#formal{
	margin-right:0px;
}
.photosection{
	background-image:none;
	background-color:rgb(238,239,241);}
#socialtable{position:relative;
			width:100%;
			heigth:auto;}
#professionaltable{
	position:relative;
	width:100%;
	height:auto;
	display:none;
}
#formaltable{
	position:relative;
	width:100%;
	height:auto;
	display:none;

}
td{ -webkit-transition: all 0.4s ease;
  	-moz-transition: all 0.4s ease;
  	-o-transition: all 0.4s ease;
  	-ms-transition: all 0.4s ease;
  	transition: all 0.4s ease;
	-webkit-filter:brightness(70%);}
td:hover {
	 -webkit-transition: all 0.4s ease;
  	-moz-transition: all 0.4s ease;
  	-o-transition: all 0.4s ease;
  	-ms-transition: all 0.4s ease;
  	transition: all 0.4s ease;
	-webkit-filter:brightness(100%);}