html{
	width:100%;
	min-width: 1020px;
	height:1000px;
	background-image:none;
	background-color:rgb(244,244,244);

}
body{
	width:100%;
	min-width: 1020px;
	height:1000px;
	background-image:none;
	background-color:rgb(244,244,244);

}
#wrapper{	background-color:transparent;
	background-attachment: fixed;


}	
#applicationphoto{
	height:555px;
	width:100%;

	background-image:url("../images/handshake.jpg");
	background-repeat: no-repeat;
	background-position: top center;
	-webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
	position:fixed;
	background-attachment: fixed;
	background-position: top center;
	z-index:5;

}
@media only screen and (max-width: 1280px) {
    #applicationphoto {-webkit-background-size: auto;
  -moz-background-size: auto;
  -o-background-size: auto;
  background-size: auto;}
}


#applicationtext{
	margin-top:250px;
	position:fixed;
	top:0; left:0; right:0; bottom:0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	color:rgb(255,255,255);
	letter-spacing: 4px;
	width:100%;
	height:50px;
	font-size: 28pt;
	text-align: center;
	-webkit-font-smoothing: antialiased; 
}

#meet{
	width:1020px;
	height:788px;
	background-image: none;
	background-color:rgb(253,253,252);
	position:absolute;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:0px;
	padding:0px;
	top:555px; left:0; right:0; bottom:0;
	background-attachment: fixed;
	z-index: 6;
}
#akpsi{
	position:relative;
	top:0px;
	margin-top:0px;
}
#darkhr{
	background-color:rgb(181,181,181);
}
#premier{
	margin-bottom:16px;
}
#rushsponsors{
	width:815px;
	height:93px;
	background-color:rgb(41,43,52);
	color:rgb(255,255,255);
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:20pt;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	top:20px;
	letter-spacing: 4px;
	-webkit-font-smoothing: antialiased; 

}
#sponsorstext{
	width:558px;
	height:40px;
	position:absolute;
	margin:auto;
	top:0;bottom:0;right:0;left:0;
}


.sponsorListHolder{
	width:901px;
	height:270px;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	top:80px;
}
.sponsor{
	width:240px;
	height:210px;
	float:left;
	margin:30px;
	
	/* Giving the sponsor div a relative positioning: */
	position:relative;
	cursor:pointer;
}
.sponsorFlip{
	/*  The sponsor div will be positioned absolutely with respect
		to its parent .sponsor div and fill it in entirely */

	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	border:1px solid #ddd;	
	background: url("../images/sponsorbg.png") no-repeat center center #959595;

}
.sponsorFlip img{
	/* Centering the logo image in the middle of the sponsorFlip div */
	
	position:absolute;
	margin:auto;
	top:0;left:0;right:0;bottom:0;
}
.sponsorFlip:hover{
	border:1px solid #999;
	
	/* CSS3 inset shadow: */
	-moz-box-shadow:0 0 30px #999 inset;
	-webkit-box-shadow:0 0 30px #999 inset;
	box-shadow:0 0 30px #999 inset;
}
.sponsorData{
	/* Hiding the .sponsorData div */
	display:none;
}
.sponsorDescription{
	font-size:11px;
	padding:50px 10px 20px 20px;
	font-style:italic;
}
.sponsorURL{
	font-size:10px;
	font-weight:bold;
	padding-left:20px;
}


#foot{
	position:absolute;
	top:1343px;
}